body {
    background-color: aliceblue;
    
}

.winner {
    font: 300;
    color: green;
}

.loser{
    font: 300;
    color: red;
}
.tie{
    color: rgb(104, 104, 13);
}

img{
    width: 15%;
    aspect-ratio: 3/2;
    object-fit: contain;
    
}